.box{
    background-color: #00113a;
    height: 752px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilepic{
    border-radius: 50%;
    height: 250px;
    box-shadow: #000 20px;
}

.introduction{
    height: 300px;
    width: 350px;
    color: white;
    text-align: left;
    font-size: 30px;
    padding: 40px;
    text-shadow: #111 20px;
}
.introduction h2{
    font-weight: 600;
}
.name{
    line-height: 40%;
}

p{
    font-size: 18px;
}